.App {
  text-align: center;
}

.boardLine {
  display: flex;
  justify-content: center;
}
.boardLine div {
  border: 1px solid;
  height: 35px;
  width: 35px;
  margin: 5px;
  line-height: 35px;
}

.boardLine div.green {
  background-color: #07bc0c;
  color: white;
}
.boardLine div.yellow {
  background-color: #c9b458;
  color: white;
}
.boardLine div.grey {
  background-color: #787c7e;
  color: white;
}

button {
  margin: 3px;
  height: 40px;
  min-width: 40px;
  font-weight: 700;
}

button.used {
  background-color: #787c7e;
}